.Button {
	button {
		margin-right: 10px;

		&:focus, &:active, &:hover {
			outline: none;
			border: 1px solid #ced4da ; 
			background-color: #ced4da;
		}
	}

	.btn {
		&:focus {
			outline: none;
			border: 1px solid #ced4da ; 
			// background-color: #ced4da;
		}
	}
}
